*{
    box-sizing: border-box;
}

.clearfix::after {
    clear:both;
    content:"";
    display:block;
}

header {
    background: #ffffff;
    border-bottom: #cccccc 5px solid;
   width: 1280;
   
}
.fixed {
    background: #4aaaa5;
    color: #ffffff;
    padding: 34px;
    width: 250px;
    float:left;
    text-align: center;
    font-family: 'Georgia', 'Times New Roman', Times, serif, Times, serif;
    font-weight: bold;
    font-size: 23px;
}

.links {
    background: #ffffff;
    color: #cccccc;
float: right;
padding: 40px;
font-size: 16px;
font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: grey;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    padding: 20px;
    border-bottom: 2px solid #cccccc;
    line-height: 150%;
}

img {
    float: left;
    height: 350px;
    width: 350px;
    margin: 20px;
    }



.container1 {
    background: #ffffff;
    line-height: 150%;
    position: relative;
}

.container2 {
    position: relative;
    float: right;
}


footer {
background: #666666;
border-top: 5px solid #4aaaa5;
padding: 20px;
}

.rainbow {
    position: absolute;
    padding: 20px;
    background: #4aaaa5;
    color: #ffffff;
    top: 250;
    width: 350px;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: 'Georgia', Times, 'Times new roman', sans-serif;
    float: left;
}
.eleph {
    position: absolute;
    padding: 20px;
    background: #4aaaa5;
    color: #ffffff;
    width: 350px;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: 'Georgia', Times, 'Times new roman', sans-serif;
    right: 0;
}
.wolf {
    position: absolute;
    padding: 20px;
    background: #4aaaa5;
    color: #ffffff;
    width: 350px;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: 'Georgia', Times, 'Times new roman', sans-serif;
    right: 0;
float: right;
}

.beav {
    position: absolute;
    padding: 20px;
    background: #4aaaa5;
    color: #ffffff;
    width: 350px;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: 'Georgia', Times, 'Times new roman', sans-serif;
    right: 0;
}

.lion {
    position: absolute;
    padding: 20px;
    background: #4aaaa5;
    color: #ffffff;
    width: 350px;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: 'Georgia', Times, 'Times new roman', sans-serif;
    right: 0;
    
}