*{
    box-sizing: border-box;
}

.clearfix::after {
    clear:both;
    content:"";
    display:block;
}

header {
    background: #ffffff;
    border-bottom: #cccccc 5px solid;
   width: 1280;
   
}
.fixed {
    background: #4aaaa5;
    color: #ffffff;
    padding: 34px;
    width: 250px;
    float:left;
    text-align: center;
    font-family: 'Georgia', 'Times New Roman', Times, serif, Times, serif;
    font-weight: bold;
    font-size: 23px;
}

.links {
    background: #ffffff;
    color: #cccccc;
float: right;
padding: 40px;
font-size: 16px;
font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    width: 960px;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: grey;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    padding: 25px;
    border-bottom: 2px solid #cccccc;
    line-height: 150%;
}

.container {
    background: #ffffff;
    padding: 0px;
    
}


footer {
background: #666666;
border-top: 5px solid #4aaaa5;
padding: 20px;
align:
}
